<nav class="main-nav">
    <div class="container">
        <button class="mobile-menu-toggle" aria-label="Toggle Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="nav-menu">
            <li><a href="index.html" data-page="index">Home</a></li>
            <li class="has-dropdown">
                <a href="about.html" data-page="about">About</a>
                <ul class="dropdown">
                    <li><a href="contact.html" data-page="contact">Contact Us</a></li>
                    <li><a href="history.html" data-page="history">History</a></li>
                    <li><a href="mission.html" data-page="mission">Mission</a></li>
                    <li><a href="officers.html" data-page="officers">Our Officers</a></li>
                    <li><a href="gallery.html" data-page="gallery">Photo Gallery</a></li>
                    <li><a href="faq.html" data-page="faq">FAQ</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="hall-rental.html" data-page="hall-rental">Hall Rental</a>
                <ul class="dropdown">
                    <li><a href="hall-rental.html" data-page="hall-rental">Hall Rental Rates</a></li>
                    <li><a href="hall-availability.html" data-page="hall-availability">Hall Availability</a></li>
                    <li><a href="rental-agreement.html" data-page="rental-agreement">Rental Agreement</a></li>
                    <li><a href="rental-application.html" data-page="rental-application">Rental Application</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="membership.html" data-page="membership">Membership</a>
                <ul class="dropdown">
                    <li><a href="benefits.html" data-page="benefits">Benefits</a></li>
                    <li><a href="membership-application.html" data-page="membership-application">Membership Application</a></li>
                    <li><a href="why-belong.html" data-page="why-belong">Why You Belong</a></li>
                    <li><a href="eligibility.html" data-page="eligibility">Eligibility</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="programs.html" data-page="programs">Programs</a>
                <ul class="dropdown">
                    <li><a href="baseball.html" data-page="baseball">American Legion Baseball</a></li>
                    <li><a href="sons.html" data-page="sons">Sons of American Legion</a></li>
                    <li><a href="auxiliary.html" data-page="auxiliary">American Legion Auxiliary</a></li>
                    <li><a href="claims.html" data-page="claims">Claims Assistance</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="news-events.html" data-page="news-events">News &amp; Events</a>
                <ul class="dropdown">
                    <li><a href="events.html" data-page="events">Events</a></li>
                    <li><a href="https://www.facebook.com/somersetamericanlegionpost228" target="_blank">Facebook Feed</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="resources.html" data-page="resources">Resources</a>
                <ul class="dropdown">
                    <li><a href="links.html" data-page="links">Additional Links</a></li>
                    <li><a href="https://www.legion.org" target="_blank">National Website</a></li>
                    <li><a href="https://www.masslegion.org" target="_blank">State Website</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="get-involved.html" data-page="get-involved">Get Involved!</a>
                <ul class="dropdown">
                    <li><a href="donate.html" data-page="donate">DONATE!</a></li>
                    <li><a href="sponsors.html" data-page="sponsors">Sponsors</a></li>
                    <li><a href="mailing-list.html" data-page="mailing-list">Mailing List</a></li>
                    <li><a href="volunteer.html" data-page="volunteer">Volunteer</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
