<div class="top-bar">
    <div class="container">
        <div class="top-bar-content">
            <div class="contact-info">
                <span><i class="fas fa-phone"></i> 508-679-2380</span>
                <span><i class="fas fa-envelope"></i> somersetamericanlegion@gmail.com</span>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/somersetamericanlegionpost228" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.twitter.com/somersetpost228" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>
